[submodule "style"]
	path = style
	url = git://github.com/BPA-CSIRO-Workshops/workshop-style.git
[submodule "050_ngs-qc"]
	path = 050_ngs-qc
	url = https://github.com/BPA-CSIRO-Workshops/module-ngs-qc.git
[submodule "060_alignment"]
	path = 060_alignment
	url = https://github.com/BPA-CSIRO-Workshops/module-ngs-alignment.git
